<section>
  <h2>Reactive Form</h2>
  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <p>
      <label>Account:</label>
      <input type="text" formControlName="account" required>
    </p>
    
    <div *ngIf="account.invalid && (account.dirty || account.touched)" class="alert">
      <ng-container *ngIf="account.errors?.['required']">
        Account is required.
      </ng-container>
      <ng-container *ngIf="account.errors?.['minlength']">
        Account must be at least 4 characters long.
      </ng-container>
      <ng-container *ngIf="account.errors?.['forbiddenName']">
        Account cannot begin with admin.
      </ng-container>
    </div>

    <p>
      <label>Password:</label>
      <input type="password" formControlName="password" required>
    </p>

    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
      <ng-container *ngIf="password.errors?.['required']">
        Password is required.
      </ng-container>
      <ng-container *ngIf="password.errors?.['minlength']">
        Password must be at least 6 characters long.
      </ng-container>
    </div>

    <p>
      <button type="submit" [disabled]="myForm.invalid">Submit</button>
    </p>
  </form>
</section>

<div style="display: grid; grid-template-columns: auto auto auto; column-gap: 10px;">
  <button type="button" (click)="partialUpdate()">Partial Update</button>
  <button type="button" (click)="fullUpdate()">Full Update</button>
  <button (click)="reset()">Cancel</button>
</div>
